/* 声明字体图标，主要路径的更换 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?umra3h');
  src:  url('../fonts/icomoon.eot?umra3h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?umra3h') format('truetype'),
    url('../fonts/icomoon.woff?umra3h') format('woff'),
    url('../fonts/icomoon.svg?umra3h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* 版心 */
.w {
	width: 1200px;
	margin: 0 auto;
}
/* 可以重复使用的样式 */
.f1 {
	float: left;
}
.fr {
	float: right;
}
.style-red {
	color: #c81623;
}
/* 快捷导航模块 */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
.shortcut ul li {
	float: left;
}
/* 选择所有偶数的 li 标签 */
.shortcut .fr ul li:nth-child(even) {
	width: 0.5px;
	height: 12px;
	background-color: #6d6d6d;
	margin: 9px 15px 0;
}
.arrow-icon::after {
	content: "\e91b";
	font-family: 'icomoon';
	margin-left: 6px;
}
/* header 头部制作 */
.header {
	height: 105px;
	position: relative;
}
.logo {
	position: absolute;
	top: 25px;
	width: 171px;
	height: 61px;
}
.logo a {
	display: block;
	width: 171px;
	height: 61px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	/* font-size: 0;  京东的做法,文字不显示*/
	/* 以下为淘宝做法,文字不显示 */
	text-indent: -99px;
	overflow: hidden;
}
.search {
	position: absolute;
	left: 346px;
	top: 25px;
	width: 538px;
	height: 36px;
	border: 2px solid #b1191a;
}
.search input {
	float: left;
	width: 454px;
	height: 32px;
	padding-left: 10px;
}
.search button {
	margin-top: -1px;
	float: left;
	width: 80px;
	height: 33px;
	background-color: #b1191a;
	color: #fff;
	font-size: 16px;
}
.hotwords {
	position: absolute;
	top: 66px;
	left: 346px;
}
.hotwords a {
	margin: 0 10px;
}
.shopcar {
	position: absolute;
	right: 60px;
	top: 25px;
	width: 140px;
	height: 35px;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
}
.shopcar::before {
	content: "\e908";
	font-family: "icomoon";
	margin-right: 5px;
	color: #b1191a;
}
.shopcar::after {
	content: "\e919";
	font-family: "icomoon";
	margin-left: 10px;
}
.count {
	position: absolute;
	top: -5px;
	left: 105px;
	line-height: 14px;
	height: 14px;
	color: #fff;
	background-color: #e60012;
	padding: 0 5px;
	border-radius: 7px 7px 7px 0;
}
.nav {
	height: 47px;
	border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
	float: left;
	width: 210px;
	height: 45px;
	background-color: #b1191a;
}
.nav .navitems {
	float: right;
	margin-right: 150px;
}
.dropdown .dt {
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
}
.dropdown .dd {
	height: 465px;
	width: 210px;
	background-color: #c81263;
	margin-top: 2px;
}
.dropdown .dd ul li {
	position: relative;
	height: 31px;
	line-height: 31px;
	margin-left: 2px;
	padding-left: 10px;
}
.dropdown .dd ul li:hover {
	background-color: #fff;
}
.dropdown .dd ul li a {
	font-size: 14px;
	color: #fff;
}
.dropdown .dd ul li:hover a {
	color: #c81623;
}
.dropdown .dd ul li::after {
	position: absolute;
	top: 1px;
	right: 10px;
	content: "\e919";
	font-family: "icomoon";
	font-size: 14px;
	color: #fff;
}
.navitems ul {
	
}
.navitems ul li {
	float: left;
}
.navitems ul li a {
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0 25px;
	font-size: 20px;
}
/* 底部模块制作 */
.footer {
	height: 415px;
	background-color: #f5f5f5;
	padding-top: 30px;
}
.mod-service {
	height: 80px;
	border-bottom: 1px solid #ccc;
}
.mod-service ul li {
	float: left;
	width: 240px;
	height: 50px;
	padding-left: 35px;
}
.mod-service ul li h5 {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 8px;
}
.mod-service ul li:first-child h5 {
	overflow: hidden;
	background: url(../images/icons.png) no-repeat -252px -2px;
}
.mod-service ul li:nth-child(2) h5 {
	background: url(../images/icons.png) no-repeat -255px -53px;
}
.mod-service ul li:nth-child(3) h5 {
	background: url(../images/icons.png) no-repeat -256px -105px;
}
.mod-service ul li:nth-child(4) h5 {
	background: url(../images/icons.png) no-repeat -257px -156px;
}
.mod-service ul li:last-child h5 {
	background: url(../images/icons.png) no-repeat -257px -208px;
}
.service-txt h4 {
	font-size: 14px;
}
.service-txt p {
	font-size: 12px;
}
.mod-help {
	height: 185px;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-left: 50px;
}
.mod-help dl {
	float: left;
	width: 200px;
}
.mod-help dl:last-child {
	width: 90px;
}
.mod-help dl:last-child dt {
	width: 90px;
	text-align: center;
}
.special {
	width: 90px;
	padding-left: 10px;
}
.mod-help dl dt {
	font-size: 16px;
	width: 200px;
	margin-bottom: 10px;
}
.mod-copyright {
	text-align: center;
	padding-top: 20px;
}
.links {
	margin-bottom: 15px;
}
.links a {
	margin: 0 3px;
}
.copyright {
	line-height: 20px;
}
