.nav {
	overflow: hidden;
}
.sk {
	position: absolute;
	top: 40px;
	left: 190px;
	border-left: 1px solid #c81523;
	padding: 3px 0 0 14px;
}
.sk-list {
	float: left;
}
.sk-list ul li {
	float: left;
}
.sk-list ul li a {
	display: block;
	line-height: 47px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}
.sk-con {
	float: left;
}
.sk-con ul li {
	float: left;
}
.sk-con ul li a {
	display: block;
	line-height: 49px;
	padding: 0 20px;
	font-size: 14px;
}
.sk-con ul li:last-child a::after {
	content: "\e91b";
	font-family: "icomoon";
}
.sk-bd {
	margin-top: 28px;
}
.sk-bd ul li {
	float: left;
	margin-right: 13px;
	position: relative;
	width: 290px;
	height: 460px;
	border: 1px solid transparent;
}
.sk-bd ul li:nth-child(4n) {
	margin-right: 0;
}
.sk-bd ul li:hover {
	border: 1px solid #c81523;
}
.sk-bd ul li p {
	padding: 0 14px;
	padding-bottom: 14px;
}
.sk-bd ul li .image img {
	margin-left: 14px;
}
.sk-bd ul li .bottom {
	bottom: 0;
	position: absolute;
	width: 290px;
	height: 51px;
	background-color: #b1191a;
	font-size: 20px;
	text-align: center;
	line-height: 51px;
	color: white;
}
.sk-bd ul li .demo {
	margin-top: 14px;
	text-align: center;
}
.sk-bd ul li .demo .out {
	margin-top: 3px;
	display: inline-block;
	float: left;
	border: 1px solid #e33339;
	width: 133px;
	height: 13px;
	border-radius: 30px 30px 30px 30px;
	overflow: hidden;
}
.sk-bd ul li .demo .out .in {
	margin-left: -3px;
	height: 13px;
	width: 116px;
	background-color: #e33339;
	border-radius: 30px 0 0 30px;
}
.sk-bd ul li .demo p {
	float: left;
}
.sk-container {
	margin-bottom: 20px;
}