.w {
	width: 1200px;
	margin: 0 auto;
}
header {
	height: 84px;
	border-bottom: 2px solid #c81523;
}
.w header .logo {
	padding-top: 18px;
}
.registerarea {
	margin-top: 20px;
	height: 522px;
	border: 1px solid #ccc;
}
.registerarea h3 {
	height: 42px;
	border-bottom: 1px solidd #ccc;
	background-color: #cecece;
	line-height: 42px;
	padding: 0 10px;
	font-size: 18px;
	font-weight: 400;
}
.login {
	float: right;
	font-size: 14px;
}
.login a {
	color: #c81523;
}
.reg-form {
	width: 600px;
	margin: 50px auto 0;
}
.reg-form ul li label {
	display: inline-block;
	width: 88px;
	text-align: right;
}
.reg-form ul li {
	margin-bottom: 20px;
}
.reg-form ul li .inp {
	width: 242px;
	height: 37px;
	border: 1px solid #ccc;
}
.reg-form ul li .error {
	color: red;
}
.reg-form ul li .error .error-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/矩形8.png) no-repeat;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 5px;
}
.reg-form ul li .success {
	color: green;
}
.reg-form ul li .success .success-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/checked.png) no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}
.safe {
	padding-left: 166px;
}
.safe em {
	padding: 0 12px;
	color: #fff;
}
.safe .first {
	background-color: #de1111;
}
.safe .second {
	background-color: #40b83f;
}
.safe .third {
	background-color: #f79100;
}
.agree {
	padding-left: 95px;
}
.agree input {
	vertical-align: middle;
}
.agree a {
	color: #1ba1e6;
}
.btn {
	margin: 30px 0 0 70px;
	width: 200px;
	height: 34px;
	background-color: #c81623;
	font-size: 14px;
	color: #fff;
}
.mod-copyright {
	text-align: center;
	padding-top: 20px;
}
.links {
	margin-bottom: 15px;
}
.links a {
	margin: 0 3px;
}
.copyright {
	line-height: 20px;
}